body, html{
    margin: 0px;
    padding-top: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}